# Core
transformers
torch
faiss-cpu
groq
langchain-huggingface
sentence-transformers
pandas

# Eval
rouge-score
evaluate
ragas

# Utils
python-dotenv

# Langchain
langchain
langchain-text-splitters
tiktoken
langchain-groq